html, body {margin:0;padding:0;height:100%;scroll-behavior: smooth;}

#root {
  display: contents;
}

:root {
    --dark-grey-background-color: #555555 ;
    --light-grey-background-color: #656565;
    --light-grey-text: #CBCBCB;

    --dark-green-background-color: #006400 ;
    --light-green-background-color: #228B22;
    --light-grey-text: #CBCBCB;
}

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Topbar Styles */

.topbar {
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}
  

.header-logo {
    float: left;
}

.header-logo-img {
    position: relative;
    width: 25px;
    margin: 10px;
    margin-left: 15px;
}

.header-logo-title {
    font-family: Montserrat;
    float: left;
    left: 25px;
    margin-top: 20px;
    margin-left: 20px;
}

.header-links {
    margin-top: 20px;
    margin-right: 50px;
    display: inline;
    float: right;
}

.header-link {
    font-family: Montserrat;
    display: inline;
    margin: 10px;
}

.header-link:hover {
    background-color: rgba(40, 112, 179, .5);
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color:white;
}


.header-emphasis {
    border: black;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(100,33,255,100);
    border-radius: 10px;
}

/* Storyline */

.storyline-container {
    width: 100%;
    background-color: var(--light-green-background-color);
    flex-direction: row;
}

.storyline-section-dark {
    height:35em;
    background-color: var(--dark-green-background-color);
    flex-direction: row;
}

.storyline-section-light {
    height: 35em;
}

.storyline-image-right {
    width: 30%;
    padding: 2rem;
    border-radius: 2.5rem;
    float: right;

}

.storyline-image-left {
    width: 30%;
    padding: 2rem;
    border-radius: 2.5rem;
    float: left
}



.storyline-section-title {
    font-family: Montserrat;
    margin: auto;
    width: 30%;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
}

.storyline-section-hook {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 1rem;

}


.storyline-section-text-left {
    color: var(--light-grey-text);
    width: 40%;
    margin-left: 10%;
    margin-top: 3rem;
    text-align: left;
    float: left;
    font-size: 1.5vw;

}

.storyline-section-text-right {
    color: var(--light-grey-text);
    width: 40%;
    margin-right: 10%;
    margin-top: 3rem;
    text-align: left;
    float: right;
    font-size: 1.5vw;
}

.transition-skew-left-flush-bottom {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0,0% 100%, 100% 100%);
    min-height: 100px;
    margin-bottom:-1px;

}

.transition-skew-left-flush-top {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
    min-height: 100px;
    margin-bottom:-1px;

}

.transition-block {
    background-color: var(--dark-green-background-color);
    min-height: 50px;

}

.transition-skew-right-flush-top {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0,0% 100%, 100% 0%);
    min-height: 100px;

}

.transition-skew-right-flush-bottom {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 1,100% 100%, 100% 0%);
    min-height: 100px;

}

/* Footer */

.footer-container {
    width: 100%;
    background-color: paleturquoise;
    min-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    padding: 1rem;
}

.footer-links {
    float: right;
}

.footer-link{
    display: inline-flex;
    margin-left: 5px;

}

.footer-text {
    font-family: Montserrat;
    color: white;
    display: inline;
    margin-top: 5px;
}


/* Hiding topbar for mobile screens */
@media only screen and (max-width: 800px) {
    .topbar {
      display: none;
    }
    .storyline-section-dark {
        height: 60em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .storyline-section-light {
        height: 60em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .storyline-section-text-left {
        font-size: 1.5rem;
        width: 90%;
        padding: 1em;
        margin: 0;
    }
    .storyline-section-text-right {
        font-size: 1.5rem;
        width: 90%;
        padding: 1em;
        margin: 0;

    }
    .storyline-image-right {
        width: 80%;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2.5rem;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;

    }
    .storyline-image-left {
        width: 70%;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 2.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;

    }
    .storyline-section-title {
        font-family: Montserrat;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }

    .storyline-section-hook {
        color: white;
        font-size: 2rem;
        text-align: center;
        padding-top: 1rem;

    }
}