html, body {margin:0;padding:0;height:100%;scroll-behavior: smooth;}

#root {
  display: contents;
}

#problem, #mission, #process, #methods, #community {
    color: black;
}

:root {
    --dark-grey-background-color: #555555 ;
    --light-grey-background-color: #656565;
    --light-grey-text: #CBCBCB;

    --dark-green-background-color:#8afc80 ;
    --medium-green-background-color:#A9FFA2;
    --light-green-background-color:#D0FFCD;
    --light-grey-text: #CBCBCB;

    --orange-text-background: rgb(243, 175, 50);
}


#228B22

#0C7004

.app {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.intro-image-container {
    position: relative;
    background-color: var(--medium-green-background-color);
}

.image-wrapper {
    width: 100%;
    height: auto;
    margin-right: -5px;
    overflow: hidden;
}

/* .storyline-intro-image {
    display: block;
    height: 1200px;
    left: -8px;
    top: 70px;
    margin: auto;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
    margin-bottom: 2px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
} */
.storyline-intro-image {
    width: 60%;
    display: block;
    height: auto;
    margin: -0.2em;
    margin-right: auto;
    margin-left: auto;
    padding-right: -0.2em;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
    overflow: hidden;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    border: 1em;
}

.storyline-intro-image-text {
    text-align: center;
    font-family: Monserrat;
    color: white;
    font-size: 3vw;
    -webkit-text-stroke: .03em black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 32%;
    opacity: 0.8;
    border-top: .03em black;
    border-radius: 5px;
    border-color: black;

}

/* Topbar Styles */

.topbar {
    display: flex;
    align-items: center;
    min-height: 3em;
    overflow: hidden;
    width: 100%;
    background-color: black;
}
  

.header-logo {
    float: left;
}

.header-logo-img {
    position: relative;
    width: 25px;
    margin: 10px;
    margin-left: 15px;
}

.header-logo-title {
    font-family: Montserrat;
    float: left;
    left: 25px;
    color: white;
}

.header-links {
    margin-left: auto;
    display: inline;
    float: right;
}

.header-link {
    font-family: Montserrat;
    display: inline;
    margin: 10px;
}

.header-link:hover {
    background-color: rgba(40, 112, 179, .5);
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color:white;
}


.header-emphasis {
    border: black;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--dark-green-background-color);
    border-radius: 10px;
}

/* Storyline */

.storyline-container {
    width: 100%;
    background-color: var(--light-green-background-color);
    flex-direction: row;
}

.storyline-section-dark {
    min-height:25em;
    background-color: var(--dark-green-background-color);
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    /* This is to fix odd 1px line between divs*/
    margin-bottom: -1px;
}

.storyline-section-light {
    min-height: 25em;
    overflow: hidden;
}

.storyline-image-right {
    width: 35%;
    margin: 2rem;
    margin-right: 3em;
    float: right;
    
}

.storyline-image-left {
    width: 35%;
    margin: 2rem;
    margin-left: 3em;
    float: left;
}


.storyline-section-title {
    font-family: Montserrat;
    margin: auto;
    width: 10%;
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
    text-decoration: underline;
}


.storyline-section-hook {
    font-family: Montserrat;
    color: black;
    font-size: 2.6vw;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;

}


.storyline-section-text-left {
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    width: 40%;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: justify;
    float: left;
    font-size: 1.5vw;
    padding: 0.5em;

}

.storyline-section-text-right {
    font-family: Montserrat;
    font-weight: bold;
    color: black;
    width: 40%;
    margin-right: 10%;
    margin-top: 3rem;
    text-align: justify;
    float: right;
    font-size: 1.5vw;
    padding: 0.5em;
}

.transition-block {
    min-height: 5em;
    background-color: var(--dark-green-background-color);
}

.transition-block-beginning {
    background-color: var(--medium-green-background-color);
    min-height: 7em;
}

.transition-skew-left-flush-bottom {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0,0% 100%, 100% 100%);
    min-height: 5em;
    margin-bottom:-1px;

}

.transition-skew-left-flush-top {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
    min-height: 5em;
    margin-bottom:-1px;

}


.transition-skew-right-flush-top {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 0,0% 100%, 100% 0%);
    min-height: 5em;

}

.transition-skew-right-flush-bottom {
    background-color: var(--dark-green-background-color);
    clip-path: polygon(0 1,100% 100%, 100% 0%);
    min-height: 5em;

}

/* Footer */

.footer-container {
    width: 100%;
    background-color: paleturquoise;
    min-height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    padding: 1rem;
}

.footer-links {
    float: right;
}

.footer-link{
    display: inline-flex;
    margin-left: 5px;

}

.footer-text {
    font-family: Montserrat;
    color: black;
    display: inline;
    margin-top: 5px;
}


/* Hiding topbar for mobile screens */
@media only screen and (max-width: 800px) {
    .storyline-intro-image {
        display: none;
    }

    .intro-image-container {
        display: none;
    }
    .topbar {
        min-height: 3em;
        overflow: hidden;
        width: 100%;
        background-color: black;
    }
    .header-logo-title {
        font-family: Montserrat;
        font-size: 3rem;
        width: 100%;
        text-align: center;
        color: var(--light-grey-text)
    }
    .header-links {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .storyline-section-dark {
        min-height: 30em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
    }
    .storyline-section-light {
        min-height: 30em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
    }

    .storyline-section-content {
        display: flex;
        justify-content: space-around;
    }
    .storyline-section-text-left {
        font-family: Montserrat;
        color: black;
        font-size: 1.5rem;
        width: 92%;
        padding: 0.5em;
        margin: 0.5em;
        font-weight: bold;
    }
    .storyline-section-text-right {
        font-family: Montserrat;
        color: black;
        font-size: 1.5rem;
        width: 92%;
        padding: 0.5em;
        margin: 0.5em;
        font-weight: bold;

    }
    .storyline-image-right {
        width: 80%;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: auto;
        margin-right: auto;

    }
    .storyline-image-left {
        width: 70%;
        padding-left: 2rem;
        padding-right: 2rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: .5em;
        margin-bottom: .5em;

    }
    .storyline-section-title {
        font-family: Montserrat;
        margin: auto;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }

    .storyline-section-hook {
        color: black;
        font-size: 2rem;
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 1rem;

    }
}