# IDE files #
#############
.vscode
.idea
.iml
*.sublime-workspace

# Terraform
.terraform*
terraform.tfstate*
crash.log
kubeconfig

# Personal directories
secrets

# Environment variables
dev.yaml
prod.yaml
shared.yaml
