# IDE files #
#############
.vscode
.idea
*.iml
*.sublime-workspace
.DS_Store

# Golang
vendor

# Builds
builds
build

# Terraform
.terraform*
terraform.tfstate*
crash.log
kubeconfig

# Secrets
credentials
sensitive

# Environment variables
dev.yaml
prod.yaml
shared.yaml


node_modules
/lib
